<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bilbo Swash Caps' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body{
        background-color: rgb(231, 235, 219);
    }
    .log{
        margin-left: 20%;
        font-family: 'Bilbo Swash Caps';font-size: 35px;
    }
    .font{
        font-family: 'Charm';font-size: 20px;
    }
    .alert{
        color: red;
    }
   .header{
       text-align: center;
       background-color: rgb(49, 124, 87);
   }
 
</style>
<body>
    <div class="header"> <h1>Welcome to Dojo Activities Center</h1></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <partial name="login"/>
            </div>
            <div class="col-md-6">
                <partial name="register"/>
            </div>
        </div>
    </div>
    
</body>
</html>